name: Publish

on:
    push:
        tags:
            - 'v*.*.*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
    id-token: write # Required for OIDC
    contents: write

jobs:
    build:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  registry-url: 'https://registry.npmjs.org'
            - name: Setup pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 10
            - name: Setup Environment
              run: node -e "console.log('PACKAGE_VERSION=' + require('./package.json').version + '\nPACKAGE_NAME=' + require('./package.json').name + '-' + require('./package.json').version)" >> $GITHUB_ENV
            - name: Verify versions
              run: node -e "if ('refs/tags/v' + '${{ env.PACKAGE_VERSION }}' !== '${{ github.ref }}') { console.log('::error' + 'Version Mismatch. refs/tags/v' + '${{ env.PACKAGE_VERSION }}', '${{ github.ref }}'); throw Error('Version Mismatch')} "
            - name: Install
              run: pnpm install
            - name: Package
              run: pnpm run package
            - name: Install npm@11 for OIDC support
              run: npm install -g npm@11
            - name: Publish
              run: pnpm publish --access=public --no-git-checks --provenance
            - name: Generate Changelog
              id: changelog
              uses: mindsers/changelog-reader-action@v2
              with:
                  version: ${{ env.PACKAGE_VERSION }}
                  path: ./CHANGELOG.md
            - name: Create GitHub release
              id: create_release
              uses: softprops/action-gh-release@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  name: v${{ env.PACKAGE_VERSION }}
                  body: ${{ steps.changelog.outputs.changes }}
                  draft: false
                  prerelease: false
